<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Redis" type="FOBrigdeRedis">
      <section name="RedisCacheStageServer" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="RedisCacheLiveServer" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>

  <Redis>
    <RedisCacheStageServer>
      <add key="RedisCacheStageServer1" value="127.0.0.1"/>
    </RedisCacheStageServer>
    <RedisCacheLiveServer>
      <add key="RedisQueueLiveServer1" value="127.0.0.1"/>
      <add key="RedisQueueLiveServer2" value="127.0.0.1"/>
      <add key="RedisQueueLiveServer3" value="127.0.0.1"/>
      <add key="RedisQueueLiveServer4" value="127.0.0.1"/>
    </RedisCacheLiveServer>
  </Redis>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
